<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ask Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Questions are following</h2>
                <hr>
                {{#if error}}
                <div class="alert alert-danger">
                    {{msg}}
                </div>
                {{/if}}
                {{#unless questions}}
                <div class="alert alert-info">
                    <h4><b>Looks like there is no question today.</b></h4>
                </div>
                {{/unless}}
                <ul class="list">
                    {{#each questions}}
                        <li>
                            <h4><b>{{this.question}}</b></h4>
                            <p>asked by: {{this.user.name}}</p>
                            <form action="/askMe/answer/{{this._id}}" method="POST">
                                <label for="answer">
                                    <input class="form-control" type="text" name="answer" id="answer" placeholder="give answer" required>
                                </label>
                                <p></p>
                                <button class="btn btn-info" type="submit">Submit</button>
                            </form>
                            <hr>
                        </li>
                    {{/each}}
                </ul>
                <p></p>
                {{!-- <form action="/faqs/askQuestion/{{user}}" method="POST">
                    <label for="email">
                        <input class="form-control" type="text" name="question" id="question" placeholder="Ask Question" required>
                    </label>
                    <p></p>
                    <button class="btn btn-info" type="submit">Submit</button>
                </form> --}}
            </div>
        </div>
    </div>
</body>
</html>