<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{blog.title}}|EduWeb</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-4 col-md-4">
                <h2>Educational Website</h2>
                <h4><b>{{blog.title}}</b></h4>
                <h6>By- {{blog.createdBy.name}}</h6>
                <p>created on {{blog.createdOn}}</p>
                <p></p>
                <p>{{blog.body}}</p>
                <p></p>
            </div>
            {{#if user}}
                <div class="row">
                    <div class="col">
                        <form action="/blogs/report-page/{{blog._id}}" method="GET">
                            <p></p>
                            <button class="btn btn-outline-danger" type="submit">Report</button>
                        </form>
                    </div>
                    <div class="col">
                        <form action="/blogs/reviews/{{blog._id}}" method="GET">
                            <p></p>
                            <button class="btn btn-outline-info" type="submit">Reviews</button>
                        </form>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</body>
</html>