<%- include('../_layouts/adminheader') %>

<h2 class="page-title"> categories</h2>
<a href="/admin/categories/add-category" class="btn btn-primary ">Add new Category</a>
<br> <br>

<table class="table table-stripped">
    <thead>
        <tr>
            <th> Category</th>
            <th>Edit</th>
            <th> Delete</th>
        </tr>
    </thead>
    <tbody>
    
    <% categories.forEach(function(cat) {%>
        <tr >
        <td> <%= cat.title %></td>
        <td><a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
        <td><a href="/admin/categories/delete-category/<%=cat._id %>" class="confirmDeletion">Delete</a></td>
        </tr>
    <% })%>
</tbody>
</table>


<%- include('../_layouts/adminfooter') %>

